:root {
    --white--color: #fff;
    --black-color:#333;
    --text-color:#fff;
}

*{
    box-sizing: inherit;
    margin: 0;
}

html {
    font-size:62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    padding-left:0;
    
    
}

.grid{
    width:1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width:100%;

}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}